<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="/bootstrap.min.css" th:href="@{/bootstrap.min.css}"    media="screen"/>

<!--    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">-->

    <link rel="stylesheet" href="/border.css" media="screen"/>



</head>
<body>
<div th:replace="fragments/header :: header">...</div>


<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
<div>
    <div class="col-md-6 col-md-offset-3">
        <h1>Customer Information</h1>
    </div>
<form class="form-group" action="/smart/account" th:action="@{/smart/account}" method="post">
<!--    <input th:type="hidden" name="id" th:field="${notes.id}" />-->
    <div class="product-preview-container">
        <div class="col-md-3 col-md-offset-1">
        <label for="name">Name Test</label>
        <input type="text" class="form-control" id="tname" th:field="${account.name}" />

    </div>
    <div class="col-md-6 col-md-offset-1">
        <label for="tname">Name</label>
        <input type="text" class="form-control" id="name" th:field="${account.name}" />
    </div>



    <div class="col-md-6 col-md-offset-1">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" th:field="${account.email}"></input>
    </div>

    <div class="col-md-6 col-md-offset-1">
        <label for="password">Passw0rd</label>
        <input type="text" class="form-control" id="password" th:field="${account.password}"></input>
    </div>

    <div class="col-md-6 col-md-offset-3">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="#" th:href="@{/smart/account}" class="btn btn-danger" role="button">Cancel</a>
    </div>
</form>
</div>
<div th:replace="fragments/footer :: footer">...</div>


</body>
</html>