<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorator="layout/master"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Customer Request Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <br><br><br>
    <div class="jumbotron text-center">
<form class="form-group" autocomplete="off" action="/customer" th:action="@{/customer}" method="post"  enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-4">
            <label for="firstName">First Name</label>
            <label	th:if="${#fields.hasErrors('customer.firstName')}" th:errors="*{customer.firstName}"
                      class="validation-message"></label>
            <input type="text" th:field="*{customer.firstName}" id="firstName"
                   placeholder="First Name" class="form-control" />
        </div>

        <div class="col-sm-4">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" th:field="${customer.lastName}" />
        </div>
        <div class="col-sm-4">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" th:field="${customer.dob}" />
        </div>
        <div class="col-sm-4">
            <label for="ssn">Social Security Number</label>
            <input type="text" class="form-control" id="ssn" th:field="${customer.ssn}" />
        </div>
        <div class="col-sm-4">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" th:field="${customer.phone}" />
        </div>
        <div class="col-sm-4">
            <label for="email">Email Address</label>
            <input type="text" class="form-control" id="email" th:field="${customer.email}" />
        </div>
        <div class="col-sm-4">
            <label for="sex">Gender</label>
            <input type="text" class="form-control" id="sex" th:field="${customer.sex}" />
        </div>
        <div class="col-sm-4">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" th:field="${customer.address.street}" />
        </div>
        <div class="col-sm-4">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" th:field="${customer.address.city}" />
        </div>
        <div class="col-sm-4">
            <label for="state">State</label>
            <input type="text" class="form-control" id="state" th:field="${customer.address.state}" />
        </div>
<!--        <div class="col-sm-4">-->
<!--            <label for="zip">Zip Code</label>-->
<!--            <input type="text" class="form-control" id="zip" th:field="${customer.address.zip}" />-->
<!--        </div>-->

<!--        <div class="form-group">-->
            <div class="col-sm-4">
                <label for="zip">Zip Code</label>
                <label	th:if="${#fields.hasErrors('customer.address.zip')}" th:errors="*{customer.address.zip}"
                          class="validation-message"></label>
                <input type="text" th:field="*{customer.address.zip}" id="zip"
                       placeholder="zip code" class="form-control" />
            </div>
<!--        </div>-->



        <div class="col-sm-4">
            <label for="file">Upload Photo</label>
        <input type="file" id="file" name="file" accept="image/*">
        </div>
        <p>&nbsp;</p>
    </div>
    <br>
        <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Save</button>
        </div>
    <span th:utext="${successMessage}"></span>

<!--    class="col-md-6 col-md-offset-3"-->
</form>
    </div>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/layout">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div layout:fragment="content">-->
<!--</div>-->

<!--</body>-->
<!--</html>-->